<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <title>Node Pi Alpha</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="stylesheets/lib/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/lib/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/lib/Acme/style.min.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/lib/Acme/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
        <script type="text/javascript" src="libs/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="libs/jquery/dist/jquery-ui.min.js"></script>
        <script type="text/javascript" src="libs/bootstrap.min.js"></script>
        <script type="text/javascript" src="libs/Acme/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="libs/Acme/core.min.js"></script>
        <script type="text/javascript" src="javascripts/robertview.js"></script>
    </head>

    <body>


        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <a class="navbar-brand" href="index.html"><span>Node Pi Alpha Example</span></a>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div id="sidebar-left" class="col-sm-1">
                    <div class="nav-collapse sidebar-nav navbar-collapse bs-navbar-collapse collapse">
                        <ul class="nav nav-tabs nav-stacked main-menu">
                            <li id="Home" class="active">
                                <a href="/"><i class="fa fa-home"></i><span class="hidden-sm">Home<br />Page</span></a>
                            </li>
                            <li id="Gpio">
                                <a href="/gpio"><i class="fa fa-rss"></i><span class="hidden-sm">GPIO<br />Config</span></a>
                            </li>
                            <li id="TestPage">
                                <a href="/test"><i class="fa fa-gear"></i><span class="hidden-sm">Test<br />Page</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="content" class="col-sm-11 content">
                    <!-- MAIN CONTENT HERE -->
                    <h1>Robert's Page</h1>
                    <input type="button" class="btn" value="Test Me" onclick="HelloWorld();" />
                    <div id="TestResults"></div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <footer>
            <div class="row">
                <div class="col-sm-5">&copy; 2016</div>
                <div class="col-sm-7 text-right">
                    app by Dean Brennan
                </div>
            </div>
        </footer>
        <script type="text/javascript">

                window.onload = function(){
                    //$("#Home").removeClass('active');
                    $("#Gpio").removeClass('active');
                    $("#TestPage").removeClass('active');
                }
            </script>
    </body>

</html>